.header-banner{
    position: relative;
}
.header-banner video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.header-overlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 32, 44, 0.3);
    position: absolute;
    top:0;
    left: 0;
}
.banner-text{
    mix-blend-mode: normal !important;
}